@model List<ProductManagmentProject.Models.User>

@{
    ViewData["Title"] = "Danh sách User";
}

<h2>Danh sách User</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>UserID</th>
            <th>Username</th>
            <th>FullName</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Role</th>
            <th>Created At</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserId</td>
                <td>@user.Username</td>
                <td>@user.FullName</td>
                <td>@user.Email</td>
                <td>@user.Phone</td>
                <td>@user.Role</td>
                <td>@user.CreatedAt</td>
            </tr>
        }
    </tbody>

    <a asp-action="Index" class="btn btn-secondary">
        Back to List
    </a>
</table>
